# SSH Reverse Tunnel systemd service template file
# Save to /etc/systemd/system or ~/.local/share/systemd/user
# https://github.com/MestreLion/ssh-reverse-tunnel

[Unit]
Description=SSH Reverse Tunnel (%I)
Documentation=https://github.com/MestreLion/ssh-reverse-tunnel
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
# SSH options:
# -N: Do not execute a remote command (and most importantly, do not start the shell)
# -n: Effectively disable stdin by redirecting from /dev/null
# -F: Custom config path instead of ~/.ssh/config, also ignoring /etc/ssh/ssh_config
ExecStart=/usr/bin/ssh -Nn -F %E/ssh-reverse-tunnel/%i.conf -- tunnels.%i
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
