# SSH Reverse Tunnel systemd service file
# https://github.com/MestreLion/ssh-reverse-tunnel
#
# System-wide: /etc/systemd/system/ssh-reverse-tunnel.service
#	BASE_DIR: /etc/ssh-reverse-tunnel
# Per-user: ~/.local/share/systemd/user/ssh-reverse-tunnel.service
#	BASE_DIR: ~/.config/ssh-reverse-tunnel
# Both:
#	ssh key:    $BASE_DIR/id_ed25519{,.pub}
#	hosts keys: $BASE_DIR/known_hosts
#
# SSH options used:
#
# -T (RequestTTY=no ?)
# Disable TTY allocation. Options: yes, no (-T), force (-t), auto (default?)
#
# -N
# Do not execute a remote command (and most importantly, do not start the shell)
#
# -n
# Effectively disable stdin by redirecting from /def/null
#
# ConnectTimeout=50
# Used only when connecting. Default is the system TCP timeout.
#
# ExitOnForwardFailure=yes
# Disconnect and exit if ssh cannot set up port forwarding.
# Default: 'no', keeps the (useless) connection active.
#
# ServerAliveInterval=20
# Time without data to check if server is alive. Default: 0, no check.
#
# ServerAliveCountMax=3
# Attempts for above check to fail before disconnecting. Default: already 3.
# Both combined means disconnect if server is unresponsive for 3*20=60 seconds.
# This is intentionally greater than the suggested 45 seconds for ClientAlive*
#
# StrictHostKeyChecking=accept-new
# Accept keys from new hosts and reject changed host keys.
# Default: 'ask', confirmation required for new hosts and reject changed keys.
#
# TCPKeepAlive=yes
# Periodically send TCP KeepAlive messages. Default: already 'yes'.
# Not related to the above options other than preventing server-side disconnects.
#
# UpdateHostKeys=yes
# Allows server to transparently present additional keys before revoking old ones
# Default: no
#
# UserKnownHostsFile=${BASE_DIR}/known_hosts
# Independent file for tunnel host keys, to avoid using /root/.ssh/known_hosts
# Default: '~/.ssh/known_hosts'

[Unit]
Description=SSH Reverse Tunnel
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment="BASE_DIR=/etc/ssh-reverse-tunnel"
ExecStart=/usr/bin/ssh -TNn                            \
	-o ConnectTimeout=50                           \
	-o ExitOnForwardFailure=yes                    \
	-o ServerAliveInterval=20                      \
	-o ServerAliveCountMax=3                       \
	-o StrictHostKeyChecking=accept-new            \
	-o TCPKeepAlive=yes                            \
	-o UpdateHostKeys=yes                          \
	-o UserKnownHostsFile=${BASE_DIR}/known_hosts  \
	-i ${BASE_DIR}/id_ed25519                      \
	-R *:22222:localhost:22                        \
	ssh-reverse-tunnel@example.com -p 1234
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
